pandas==3.0.5
pipreqs==0.4.13
platformdirs==4.11.3
pycparser==3.0
PyJWT==2.13.0
pyodbc==5.3.0
python-dateutil==2.9.0.post0
requests==2.34.2
requests-file==3.0.1
requests-toolbelt==1.0.0
simple-salesforce==1.12.10
six==1.17.0
sqlalchemy
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
yarg==0.1.10
zeep==4.3.3